
<div class="navbar"> 
<a href="/">Home</a>
<a href="/gallery">gallery</a>
<a href="/contact" >contact</a>
<a href="/service" >service</a>
<a href="/news">news</a>
<a href="/singup">singup</a>
<a href="/login" >login</a>
<a href="/registration">Registration</a>
</div>